	<footer id="footer">
		<div class="footer-top">
			<div class="wrapper">
				<div class="footer-item">
					<h4>КОНТАКТЫ</h4>
					<p class="map-pin"><span>Киев</span> ул. Здолбуновская 3</p>
					<p class="footer-phone">(+380) 96-00- 555-22</p>
					<p class="email">info@onehub.com.ua</p>
				</div>
				<div class="footer-item">
					<h4>О КОМПАНИИ</h4>
					<p>Спорт представляет собой специфический род физической или интеллектуальной активности, совершаемой с целью соревнования.</p>
				</div>
				<div class="footer-item">
					<h4>РОЗССЫЛКА</h4>
					<div class="search">
						<form action="#">
							<input type="search" placeholder="Ваш e-mail">
							<div class="submit">
								<input type="submit" value="">
							</div>
						</form>
					</div>
					<div class="socials">
						<a href="#" class="facebook"></a>
						<a href="#" class="twitter"></a>
						<a href="#" class="dribble"></a>
						<a href="#" class="instagram"></a>
						<a href="#" class="google"></a>
						<a href="#" class="yuotube"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="wrapper">
				<p>Copyright &copy; 2016 - <a href="#">OneHub</a></p>
			</div>
		</div>
	</footer>
</div>
</body>
</html>