<header id="header">
	<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
	<div class="header-top">
		<div class="wrapper">
			<div class="header-top-l">
				<p class="phone">+38 096 00 555 22</p>
				<p class="mail">info@onehub.com</p>
			</div>
			<div class="header-top-r">
				<div class="language">
					<a href="#"><img src="../img/uk.png" alt=""></a>
					<a href="#"><img src="../img/en.png" alt=""></a>
				</div>
				<form action="#" class="search-popup">
					<div class="search">
						<div class="search-submit">
							<input type="submit" value="">
						</div>
						<input type="search" placeholder="Поиск...">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="wrapper">
			<div class="header-bottom-l">
				<ul>					
					<li><a href="#">ГЛАВНАЯ</a></li>               
					<li><a href="#">КАЛЕНДАРЬ</a></li>               
					<li><a href="#">НОВОСТИ</a></li>
				</ul>
			</div>
			<div class="header-bottom-r">
				<ul>					
					<li><a href="#" style="padding-right: 0;">КОНТАКТЫ</a></li>
					<li><a href="#">О ОРГАНИЗАЦИИ<img src="../img/arrow-d.png" alt=""></a>
						<div class="header-bottom-r-submenu">
							<a href="#">О нас</a>
							<a href="#">Для партнёров</a>
							<a href="#">Валантрёрам</a>
						</div>
					</li>                  
					<li><a href="#">ГАЛЕРЕЯ<img src="../img/arrow-d.png" alt=""></a>
						<div class="header-bottom-r-submenu">
							<a href="#">Фото</a>
							<a href="#">Видео</a>
						</div>
					</li>                  
				</ul>
			</div>
		</div>
	</div>
</header>